*

!Code/
!Code/Scripts
!Code/Scripts/global
!Code/Scripts/global/*

!.config/
.config/*

!.config/cower
!.config/cower/config

!.config/fish
!.config/fish/config.fish
!.config/fish/functions
!.config/fish/functions/*

!.config/firejail
!.config/firejail/*

!.config/fontconfig
!.config/fontconfig/fonts.conf

!.config/git
!.config/git/config

!.config/gnupg
!.config/gnupg/gpg-agent.conf

!.config/gtk-3.0
!.config/gtk-3.0/settings.ini

!.config/i3
!.config/i3/scripts
!.config/i3/scripts/*

!.config/i3blocks
!.config/i3blocks/blocklets/
!.config/i3blocks/blocklets/*

!.config/mpd
!.config/mpd/mpd.conf

!.config/mpv
!.config/mpv/input.conf

!.config/ncmpcpp
.config/ncmpcpp/*
!.config/ncmpcpp/config
!.config/ncmpcpp/bindings

!.config/neomutt
.config/neomutt/*
!.config/neomutt/mailcap
!.config/neomutt/colors

!.config/nvim
!.config/nvim/init.vim
!.config/nvim/autoload/
!.config/nvim/autoload/*
!.config/nvim/snippets_custom/
!.config/nvim/snippets_custom/*

!.config/pacman
!.config/pacman/makepkg.conf

!.config/qutebrowser
!.config/qutebrowser/config.py
!.config/qutebrowser/quickmarks

!.config/rofi/
!.config/rofi/config.rasi

!.config/vifm
!.config/vifm/vifmrc

!.emacs.d/
!.emacs.d/init.el
!.emacs.d/subinits
!.emacs.d/subinits/*

!.local
!.local/share
.local/share/*

!.local/share/bin
!.local/share/bin/*

!.local/share/qutebrowser
!.local/share/qutebrowser/userscripts
!.local/share/qutebrowser/userscripts/*

!.local/share/skel
!.local/share/skel/*

!.audiotools.cfg
!.bashrc
!.profile
!.ctags
!.gitignore
!.pam_environment
!.XCompose
