*

!Code/
Code/*
!Code/Scripts
!Code/Scripts/*

!.config/
.config/*

!.config/beets
!.config/beets/config.yaml.skel
!.config/beets/skeletify.sh

!.config/cower
!.config/cower/config

!.config/dunst
!.config/dunst/dunstrc

!.config/fish
.config/fish/*
!.config/fish/config.fish
!.config/fish/functions
!.config/fish/functions/*

!.config/firejail
!.config/firejail/*

!.config/fontconfig
!.config/fontconfig/fonts.conf

!.config/git
!.config/git/config

!.config/i3
.config/i3/*
!.config/i3/config.skel
!.config/i3/scripts
!.config/i3/scripts/*

!.config/i3blocks
!.config/i3blocks/config.skel
!.config/i3blocks/blocklets/
!.config/i3blocks/blocklets/*
.config/i3blocks/blocklets/todo.txt

!.config/inox/
.config/inox/*
!.config/inox/extensions
.config/inox/extensions/*
!.config/inox/extensions/mouseless
.config/inox/extensions/mouseless/*
!.config/inox/extensions/mouseless/mouselessrc

!.config/mpv
!.config/mpv/*

!.config/nvim
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/colors/
!.config/nvim/colors/*
!.config/nvim/autoload/
!.config/nvim/autoload/*

!.config/sway
.config/sway/*
!.config/sway/config.skel

!.config/systemd
!.config/systemd/user
!.config/systemd/user/ssh-agent.service

!.config/termite/
!.config/termite/config

!.config/vifm
.config/vifm/*
!.config/vifm/vifmrc

!.config/zsh
.config/zsh/*
!.config/zsh/.zshrc
!.config/zsh/.zprompt
!.config/zsh/.zfunc

!.vimperatorrc
!.vimperator/
!.vimperator/plugin/
!.vimperator/plugin/*
!.vimperator/*

!.bashrc
!.gitignore
!.pam_environment
!.XCompose
!.xprofile
!.zshenv
