*
!.config/
.config/*

!.config/termite/
!.config/termite/config

!.config/cower
!.config/cower/config

!.config/fontconfig
!.config/fontconfig/fonts.conf

!.config/zsh
.config/zsh/*
!.config/zsh/.zshrc
!.config/zsh/.zprompt
!.config/zsh/.zfunc

!.config/nvim
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/colors/
!.config/nvim/colors/*
!.config/nvim/autoload/
!.config/nvim/autoload/*

!.config/i3
.config/i3/*
!.config/i3/config.skel

!.config/sway
.config/sway/*
!.config/sway/config.skel

!.config/i3blocks
!.config/i3blocks/config.skel
!.config/i3blocks/blocklets/
!.config/i3blocks/blocklets/*

!.config/vifm
.config/vifm/*
!.config/vifm/vifmrc

!.config/systemd
!.config/systemd/user
!.config/systemd/user/ssh-agent.service

!.vimperatorrc
!.vimperator/
!.vimperator/plugin/
!.vimperator/plugin/*
!.vimperator/*

!.local/
.local/*
!.local/share
.local/share/*
!.local/share/mouseless
.local/share/mouseless/*
!.local/share/mouseless/mouselessrc

!.vimrc
!.bashrc
!.gitignore
!.zshenv
!.xprofile
!.pam_environment
